@import "tailwindcss";

@import "tailwindcss";

@theme {
  --color-primary: #ec1313;
  --color-background-light: #f8f6f6;
  --color-background-dark: #221010;
  --color-surface-dark: #291e1e;
  --color-input-bg: #392828;
  --color-text-secondary: #b99d9d;
}

body {
  background-color: #181111;
  color:  #b99d9d; 
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}